@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "PT Serif";
  background-color: white;
  font-weight: 400;
}

@layer components {
  .main-btn,
  .sec-btn {
    background-color: black;
    border-radius: 10rem;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
  }
  .sec-btn {
    background-color: transparent;
    color: black;
    border: solid;
    border-width: 0.1em;
  }
}
